		<h1><?=$this->pagina->titulo2?></h1>

        <div class="pagina-body" id="body-1">
        	<?=$this->pagina->body?>
        </div>
        
        <br clear="all">
        <? if($this->chamada){ $chm = $this->chamada; ?>
        <? $img = ($this->filler ? CSS_URL.'/img/' : IMG_URL.'/promocoes/').$chm->foto_path; ?>
        <a href="<?=$chm->link?>" class="chamadas-home" id="chamada-home-1">
        	<span class="texto"><?=$chm->body?></span>
        	<span class="tel"><?=$this->dados->tel4?></span>
        </a>
        <? } // /if $this->chamada ?>
        <br clear="all">
        <br clear="all">
        
        <div class="pagina-body" id="body-2">
        	<?=$this->pagina->body2?>
        </div>