		<h1><?=$this->titulo?></h1>

        <? $rows1 = array_slice($this->rows, 0, 9); ?>
        <section class="servicos" id="servicos-1">
        	<? $i=0; foreach($rows1 as $row){ $i++; ?>
        	<? $img = (bool)trim($row->foto_path) ?
        		IMG_URL.'/servicos/'.$row->foto_path :
        		null; ?>
        	<? $class = $i%3==0 ? 'desk-last' : ''; ?>
        	<a href="<?=($img) ? $img : '#'?>" class="servico <?=$class?>" <?=($img) ? 'rel="gallery_servicos"' : ''?>>
        		<span class="img" <?=($img) ? Image::bg($img,0) : ''?>>
        			<?=($img) ? Image::src($img,'',0) : ''?>
        		</span>
        		
        		<?=$row->titulo?>
        		
        		<? if((bool)trim($row->body)){ ?>
        		<br><span class="descricao">(<?=$row->body?>)</span>
        		<? } // /if (bool)trim($row->body) ?>
        	</a>

        	<? if($i%3==0){ ?>
        	<br class="desktop" clear="all">
        	<br class="mobile-tab" clear="all">
        	<? } // /if $i%3==0 ?>

        	<? } // /foreach this->rows ?>
        </section>
        
        <? if(count($this->rows>9)){ ?>
        <?=$this->divfull('servicos')->open()?>
        <? $rows2 = array_slice($this->rows, 9, count($this->rows)); ?>
        <section class="servicos main-center" id="servicos-2">
        	<? $i=0; foreach($rows2 as $row){ $i++; ?>
        	<? $img = (bool)trim($row->foto_path) ?
        		IMG_URL.'/servicos/'.$row->foto_path :
        		null; ?>
                <? $class = 'servico-'.$i; ?>
                <? //$class.= $i==1 || $i%6==0 ? ' desk-first' : ''; ?>
        	<? $class.= in_array($i, array(1,6,11,16,21,26,31,36,41,46,51,56,61,66,71,76,81,86,91,96)) ? ' desk-first' : ''; ?>
        	<? if($i%5==0 && $i>0){ $class.= ' desk-last'; } ?>
        	<a href="<?=($img) ? $img : '#'?>" class="servico <?=$class?>" title="<?=$row->titulo?>" <?=($img) ? 'rel="gallery_servicos"' : ''?>>
        		<span class="img" <?=($img) ? Image::bg($img,0) : ''?>>
        			<?=($img) ? Image::src($img,'',0) : ''?>
        		</span>
        		
        		<?=$row->titulo?>
        		
        		<? if((bool)trim($row->body)){ ?>
        		<span class="descricao">(<?=$row->body?>)</span>
        		<? } // /if (bool)trim($row->body) ?>
        	</a>

        	<? if($i%3==0 && $i>0){ ?>
        	<br class="mobile-tab" clear="all">
        	<? } // /if $i%3==0 ?>
        	<? if($i%5==0 && $i>0){ ?>
        	<br class="desktop" clear="all">
        	<? } // /if $i%3==0 ?>

        	<? } // /foreach this->rows ?>
        </section>
        <?=$this->divfull()->close()?>
        <? } // /if count($this->rows>9) ?>





