        <div id="slideshow-wrapper">
        <div class="slideshow" id="slideshow">
        
        <? foreach ($this->banners as $row) { ?>
        <? $url = (bool)$row->url ? $row->url : '#'; ?>
        <? $target = strstr($url,URL) ? '' : 'target="_blank"'; ?>
        <? $img = IMG_URL.'/destaques/'.@$row->foto_path;//.'?w=450&h=450'; ?>
        <a href="<?=$url?>" class="foto" <?=$target?> title="<?=$row->titulo?>">
            <span class="img-wrapper">
            <?/*<span class="img"><img src="<?=$img?>" alt="<?=$row->titulo?>" /></span>*/?>
            <span class="img" style="background-image:url(<?=$img?>);"></span>
            </span>
            
            <span class="desc-wrapper">
                <span class="desc">
                    <span class="title">
                        <?=$row->titulo?>
                    </span>
                    <br>
                    <span class="descricao">
                        <?=nl2br($row->body)?>
                    </span>
                </span>
            </span>
        </a>
        <? } ?>
    	
        </div> <!-- /slideshow-wrapper -->
    	</div> <!-- /lideshow -->
        
        <?=$this->divfull('chamadas-home-wrapper-1')->open()?>
        <? $chm = $this->chamadas[0]; ?>
        <? $img = ($this->filler ? CSS_URL.'/img/' : IMG_URL.'/promocoes/').$chm->foto_path; ?>
        <div class="main-center">
        <a href="<?=$chm->link?>" class="chamadas-home" id="chamada-home-1">
        	<span class="icone"><img src="<?=$img?>" alt=""></span>
        	<span class="titulo"><?=$chm->titulo?></span>
        	<span class="texto"><?=$chm->body?></span>
        </a>
        </div>
        <?=$this->divfull('chamadas-home-wrapper-1')->close()?>
        
        <?=$this->divfull('chamadas-home-wrapper-2')->open()?>
        <div class="main-center">
        <? $chm = $this->chamadas[1]; ?>
        <? $img = ($this->filler ? CSS_URL.'/img/' : IMG_URL.'/promocoes/').$chm->foto_path; ?>
        <a href="<?=$chm->link?>" class="chamadas-home" id="chamada-home-2">
        	<span class="icone"><img src="<?=$img?>" alt=""></span> <br>
        	<span class="texto"><?=nl2br($chm->body)?></span> <br>
        	<span class="titulo"><?=$chm->titulo?></span>
        </a>
        <? $chm = $this->chamadas[2]; ?>
        <? $img = ($this->filler ? CSS_URL.'/img/' : IMG_URL.'/promocoes/').$chm->foto_path; ?>
        <a href="<?=$chm->link?>" class="chamadas-home" id="chamada-home-3" <?=Image::bg($img,0)?>>
        	<span class="titulo"><?=$chm->titulo?></span>
        </a>
        </div>
        <?=$this->divfull('chamadas-home-wrapper-2')->close()?>
        
        <?=$this->divfull('chamadas-home-wrapper-3')->open()?>
        <div class="main-center">
        <div class="chamadas-icones-wrapper">
        <? for($i=3; $i<6; $i++){ ?>
        <? $chm = $this->chamadas[$i]; ?>
        <? $img = ($this->filler ? CSS_URL.'/img/' : IMG_URL.'/promocoes/').$chm->foto_path; ?>
        <a href="<?=$chm->link?>" class="chamadas-home" id="chamada-home-<?=$i+1?>">
            <span class="icone" <?=Image::bg($img,0)?>><img src="<?=$img?>" alt=""></span> <br>
            <span class="titulo"><?=$chm->titulo?></span> <br>
            <span class="texto"><?=nl2br($chm->body)?></span> <br>
        </a>
        <? } // /for i ?>
        </div>
        </div>

        <div class="chamadas-exames">
            <h1>NOSSOS EXAMES</h1>
            <?=$this->navigation()->menu($this->menu->footer1);?>
            <?=$this->navigation()->menu($this->menu->footer2);?>
        </div>
        <br clear="all">
        <?=$this->divfull('chamadas-home-wrapper-3')->close()?>





