		<h1><?=$this->pagina->titulo2?></h1>

        <div class="pagina-body" id="body-1">
        	<?=$this->pagina->body?>
        </div>
        
        <br clear="all">
        
        <div class="pagina-body" id="body-2">
        	<?=$this->pagina->body2?>
        </div>
        
        <br clear="all">
        
        <div class="pagina-body" id="body-3">
        	<?=$this->dados->endereco?> <br>
        	<?=$this->dados->bairro?> -
        	<?=$this->dados->cidade?>,
        	<?=$this->dados->estado?> <br>
        	<?=Is_Format::cep($this->dados->cep)?>
        </div>