<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');;//,$js_path.'alert2.js');//,$js_path.'is.shop.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) if(defined('SITE_KEYWORDS')) if((bool)trim(SITE_KEYWORDS)) $this->meta_keywords = SITE_KEYWORDS;
if(!$this->meta_keywords) $this->meta_keywords = Is_Str::text2keywords($this->meta_description);

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
</script>

<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,300i,400i,700i" rel="stylesheet">
<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>
<body class=" body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>

<div id="top-atendimento">
    <p class="main-center">
        <?/*Central de agendamento: 
        <?=$this->dados->tel1?> |
        <?=$this->dados->tel2?> |
        <br class="mobile-cel">
        <?=$this->dados->tel3?> &middot;
        <?=$this->dados->tel4_nome?>:
        <?=$this->dados->tel4?> &middot;
        <!-- <br class="mobile-tab"> -->
        <br class="mobile-cel">*/?>
        <?=$this->dados->atendimento?>
    </p>
</div>

<div class="main main-center main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <header id="top" class="top-<?=$this->controller?>">
        <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
        
        <div class="tels">
            <a href="tel:+55<?=str_replace(' ','',$this->dados->tel1)?>" class="tel"><?=$this->dados->tel1?></a>
            <br>
            <a href="http://api.whatsapp.com/send?phone=55<?=$this->dados->tel4?>" class="tel wpp"><?=$this->dados->tel4?></a>
        </div>

        <button id="mobile-toggle" type="button" role="button" class="mobile">
            <span class="lines"></span>
        </button>
        <nav class="top-menu" id="top-menu">
            <?=$this->navigation()->menu($this->menu->top);?>
        </nav>
        <br class="mobile" clear="all">
    </header>
    
    <div id="content" class="content content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <article><?=$this->layout()->content;?></article>
        <br clear="all" />
    </div>
</div>

<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <div class="footer-1-wrapper">
    <footer class="footer-1 main-center">
        <nav class="footer-menu" id="footer-menu">
            <?=$this->navigation()->menu($this->menu->top);?>
            <?=$this->navigation()->menu($this->menu->footer1)->setUlClass('menu-servicos-1');?>
            <?=$this->navigation()->menu($this->menu->footer2)->setUlClass('menu-servicos-2');?>
        </nav>
        <nav class="footer-dados">
            <img src="<?=CSS_URL?>/img/logotipo2.png" alt="<?=SITE_TITLE?>" class="logo">
            <br clear="all">
            Central de agendamento: <br>
            <?=$this->dados->tel1?> <br>
            <?=$this->dados->tel2?> <br>
            <?=$this->dados->tel3?> <br>
            <?=$this->dados->tel4_nome?>: <?=$this->dados->tel4?> <br>
            <i><?=str_replace(' ­· ', '<br>', $this->dados->atendimento)?></i>
        </nav>
    </footer>
    </div>
    <footer class="footer-2">
        <span class="credits">
            &copy; <?=date("Y")?> <?=SITE_TITLE?> - Todos os direitos reservados.
            <br class="mobile-cel">
            <a href="http://www.trupe.net" target="_blank">Criação de sites:</a>
            <a href="http://www.trupe.net" target="_blank">Trupe Agência Criativa <img src="<?=CSS_PATH?>/img/footer_icone-trupe.png" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"></a>
        </span>
    </footer>
</div>

<?=Js::$script_min($js).PHP_EOL?>

<? if(APP_ENV=='production1'){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

</body>
</html>