        <h1><?=$this->pagina->titulo2?></h1>

        <div class="pagina-body">
        	<?=$this->pagina->body?>
        </div>
        
        <?=$this->divfull('empresa')->open()?>
        <div class="main-center pagina-fotos">
        	<? if((bool)$this->pagina->fotos) for($i=0;$i<1;$i++) 
        	   foreach($this->pagina->fotos as $foto){ ?>
        	<? $img = IMG_URL.'/paginas/'.$foto->path; ?>
        	<? $style = 'style="background-image:url('.$img.')"'; ?>
        	<a href="<?=$img?>" class="foto fb-img" rel="fb_gallery" <?=$style?>>
        		<img src="<?=$img?>">
        	</a>
        	<? } // /foreach this->pagina->fotos ?>
        </div>
	<?=$this->divfull()->close()?>




