<h1><?=$this->titulo?></h1>

<form action="" class="contato" method="post">
    <ul class="first">
        <li class="li-nome">
            <input type="text" name="nome" id="nome" class="txt required" placeholder="nome" />
        </li>
        <li class="li-email">
            <input type="text" name="email" id="email" class="txt required" placeholder="e-mail" />
        </li>
        <li class="li-telefone half half-1">
            <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="telefone" />
        </li>
        <li class="li-mensagem">
            <textarea name="mensagem" id="mensagem" class="txt required" placeholder="mensagem"></textarea>
        </li>
        <li class="submit-container">
            <a href="#" id="submit">Enviar</a>
            <p class="status"></p>
        </li>
    </ul>
</form>

<?=$this->divfull('contato')->open()?>
<section class="contato-dados main-center">
    <div class="contato-dados-1">
        Central de agendamento: <br>
        <a href="tel:<?=$this->dados->tel1?>" class="tel"><?=$this->dados->tel1?></a> <br>
        <a href="tel:<?=$this->dados->tel2?>" class="tel"><?=$this->dados->tel2?></a> <br>
        <a href="tel:<?=$this->dados->tel3?>" class="tel"><?=$this->dados->tel3?></a> <br>
        <?=$this->dados->tel4_nome?>: 
        <a href="tel:<?=$this->dados->tel4?>" class="tel"><?=$this->dados->tel4?></a> <br>
        <i><?=$this->dados->atendimento?></i>
    </div>
    <div class="contato-dados-2">
        <span class="title">Unidade <?=$this->dados->bairro?></span> <br>
        <?=$this->dados->endereco?> <br>
        <?=$this->dados->bairro?> -
        <?=$this->dados->cidade?>,
        <?=$this->dados->estado?> -
        <?=Is_Format::cep($this->dados->cep)?>
    </div>
</section>

<? $mapa_url = 'https://maps.google.com/maps?q='._parseEndereco($this->dados).'&output=embed'; ?>
<section id="mapa">
    <iframe src="<?=$mapa_url?>" id="frame_mapa" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<?=$this->divfull()->close()?>